@font-face {
  font-family: 'SymbolaRegular';
  src: url('/include/SymbolaRegular.ttf');
  font-weight: normal;
  font-style: normal;
}

.mq-math-mode {
  border: none !important
}

.mq-focused {
  box-shadow: none !important;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 1.4em;
  /* -webkit-app-region: drag; */
}

/* body > *:not(div) {
 -webkit-app-region: no-drag;
} */

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.field-container {
  height: calc(100vh - 30px);
}

.buttons {
  height: 30px;
}

a {
  font-size: calc(1em/1.4);
  font-family: 'Symbola', monospace;
  color: black;
  padding: 0 4px;
  text-decoration: underline;
}